
<% @rooms.each do |room| %>
    <div class="col-md-4">
        <div class="card mb-2 shadow d-flex align-items-stretch">
            <div class="card-header">
                <%= room.address %>
            </div>
            <% if room.images.attached? %>
                <%= image_tag room.medium_image(room.images[0]), class: "img-fluid"%>
            <% end %>
            <div class="card-body">
                <div class="card-text">
                    <%= room.listing_name %>
                </div>
                <div class="card-text">
                    <%= room.address %>
                </div>
            </div>
        </div>
    </div>
<% end %>

<%== pagy_bootstrap_nav(@pagy).html_safe %>

<div class="jumbotron shadow">
  <h1 class="display-4">Need quick work station this morning?</h1>
  <p class="lead">Find your work desk instantly.</p>
  <hr class="my-4">
  <div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <%= image_pack_tag "main_image2.jpg", class: "img-fluid" %>
        </div>
        <div class="col-md-6">
            <%= image_pack_tag "main_image1.jpg", class: "img-fluid"%>
        </div>
    </div>
  </div>

  <p>Want to find what are available for your work productivity and efficiency?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Find Locally!</a>
  </p>
</div>

<div class="jumbotron shadow col-md-12 d-flex align-items-stretch">
    <div class="col-md-8">
        <div class="col-md-4">
            <div class="card animate__animated animate__bounce">
            <div class="header p-2">hello header<i class="fal fa-cat-space"></i></div>
                <%=image_pack_tag "main_image1.jpg", class: "img-fluid"%>
                
                <div class="card-body bg-primary">
                    <div class="card-title">Yushin, Nov 11 2020</div>
                    <div class="text">hello Charles I am good here. Enjoy your life.</div>
                    <button class="btn btn-danger btn-sm mt-2">go</button>
                </div>
            </div>
        </div>

        <div class="card m-3" >
            <%=image_pack_tag "main_image1.jpg", class: "img-fluid"%>
            <div class="card-body">
                <div class="card-title">Yushin, Nov 11 2020</div>
                <div class="text">hello Charles I am good here. Enjoy your life.</div>
                <button class="btn btn-outline-primary btn-sm mt-2">go</button>
            </div>
        </div>
        <div class="card m-3" >
            <%=image_pack_tag "main_image1.jpg", class: "img-fluid"%>
            <div class="card-body">
                <div class="card-title">Yushin, Nov 11 2020</div>
                <div class="text">hello Charles I am good here. Enjoy your life.</div>
                <button class="btn btn-primary btn-sm mt-2">go</button>
            </div>
        </div>
        <div class="card m-2" >
            <%=image_pack_tag "main_image1.jpg", class: "img-fluid"%>
            <div class="card-body">
                <div class="card-title">Yushin, Nov 11 2020</div>
                <div class="text">hello Charles I am good here. Enjoy your life.</div>
                <button class="btn btn-primary btn-sm mt-2">go</button>
            </div>
        </div>
    </div>

    <div class="col-md-8 m-2">
        <div class="card m-2 ">
            <div class="row">
                <div class="col-md-4">
                    <%=image_pack_tag "main_image1.jpg", class: "img-fluid" %>
                </div>
                <div class="col-md-8">
                    <div class="body">
                        <div class="title h3 mt-2">yushin</div>
                        <div class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus voluptas, iure id aspernatur velit est at quaerat ex facilis incidunt doloremque voluptatum itaque, ad eos iusto aliquid iste vel libero.</div>
                        <button class="btn btn-small btn-primary m-2">gogo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron shadow col-md-12">
    <div class="text-center mb-5 h3">
        <h3>Have your desk any city!</h3>
    </div>
    <div class="row">    
        <% @rooms.each do |room|%>
            <div class="col-md-4">
                <div class="card mb-2 shadow d-flex align-items-stretch">
                    <div class="card-header">
                        <%= room.address %>
                    </div>
                    <% if room.images.attached? %>
                        <%= image_tag room.medium_image(room.images[0]), class: "img-fluid"%>
                    <% end %>
                    <div class="card-body">
                        <div class="card-text">
                            <%= room.listing_name %>
                        </div>
                        <div class="card-text">
                            <%= room.address %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %> 
    </div>
</div>

<div class="container-fluid mb-3 border p-4 shadow">
    <%= form_with url: search_path, method: :get do %>
        <div class="row">
            <div class="col-md-6">
                <%= text_field_tag :search, params[:search], placeholder: "where are you going?", class: "form-control"%>
            </div>
            <div class="col-md-2">
                <%= text_field_tag :start_date, params[:start_date], placeholder: "start date", class:"form-control"%>
            </div>
            <div class="col-md-2">
                <%= text_field_tag :end_date, params[:end_date], placeholder: "end date", class:"form-control"%>
            </div>
            <div class="col-md-2">
                <%= submit_tag :search, class:"btn btn-primary" %>
            </div>
        </div>
    <% end %>
</div>

<div class="jumbotron shadow">
    <div class="text-center">
        <h2>Anywhere You Go</h2>
        <p>Discover Amazing Work Space Around You</p>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card shadow">
                <div class="va-container">
                    <div class="va-middle text-center">
                        <h2><strong>New York</strong></h2>
                    </div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    <div class="col-md-4 col-sm-12">
            <div class="card shadow">
                <div class="va-container">
                    <div class="va-middle text-center">
                        <h2><strong>Kolkata</strong></h2>
                    </div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    <div class="col-md-4 col-sm-12">
            <div class="card shadow">
                <div class="va-container">
                    <div class="va-middle text-center">
                        <h2><strong>Tokyo</strong></h2>
                    </div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron shadow">
<div class="text-center">
    <h2>Customer Reviews</h2>
</div>
  <div class="col-md-8">
        <% @reviews.each do |review| %>
            <div class="card shadow mb-3 ">
                <div class="row">
                    <div class="col-md-3">
                        <%= @rooms.find(review.room_id).listing_name %>
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="row">
                                <div class="card-title">
                                    <%=review.comment %>
                                </div>
                                <div class="card-text">
                                    <h5><%= review.star %></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<% if !user_signed_in? %>
  <footer>
        <div class="container">
          <div class="jumbotron shdow", height: "5000px">
            <ul>
              <li>contact</li>
              <li>about us</li>
              <li>locations</li>
              <li>4</li>

            </ul>
          </div>
        </div>
      </footer>
<% end %>
      
<script>
    $(function() {
        $('#start_date').datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: 0,
            maxDate: '3m',
            onSelect: function(select) {
                $('#end_date').datepicker("option", "minDate", select);
                $('#end_date').attr('disabled', false);
            }
        })
  
        $('#end_date').datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: 0,
            maxDate: '3m',
            onSelect: function(select) {
                $('#start_date').datepicker("option", "maxDate", select);
            }
        })

    });
</script>