
<div class="jumbotron shadow">
  <h1 class="display-4">Need quick work station this morning?</h1>
  <p class="lead">Find your work desk instantly.</p>
  <hr class="my-4">
  <%= image_pack_tag "main_image2.jpg", width: "520px" %>
  <%= image_pack_tag "main_image1.jpg", width: "520px" %>
  <p>Want to find what are available for your work productivity and efficiency?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Find Locally!</a>
  </p>
</div>

<%# <figure>
    <div class="fixed-wrap p-5" style="height: 1000px" >
        <div id="fixed"></div>
    </div>
</figure> %>
<div class="d-flex">
    <div class="col-3">
        <div class="card animate__animated animate__bounce">
        <div class="header p-2">hello header<i class="fal fa-cat-space"></i></div>
            <%=image_pack_tag "main_image1.jpg", class: "img-fluid"%>
            
            <div class="card-body bg-primary">
                <div class="card-title">Yushin, Nov 11 2020</div>
                <div class="text">hello Charles I am good here. Enjoy your life.</div>
                <button class="btn btn-danger btn-sm mt-2">go</button>
            </div>
        </div>
    </div>

    <div class="card m-2" style="width: 200px">
        <%=image_pack_tag "main_image1.jpg", class: "img-fluid"%>
        <div class="card-body">
            <div class="card-title">Yushin, Nov 11 2020</div>
            <div class="text">hello Charles I am good here. Enjoy your life.</div>
            <button class="btn btn-primary btn-sm mt-2">go</button>
        </div>
    </div>
    <div class="card m-2" style="width: 200px">
        <%=image_pack_tag "main_image1.jpg", class: "img-fluid"%>
        <div class="card-body">
            <div class="card-title">Yushin, Nov 11 2020</div>
            <div class="text">hello Charles I am good here. Enjoy your life.</div>
            <button class="btn btn-primary btn-sm mt-2">go</button>
        </div>
    </div>
    <div class="card m-2" style="width: 200px">
        <%=image_pack_tag "main_image1.jpg", class: "img-fluid"%>
        <div class="card-body">
            <div class="card-title">Yushin, Nov 11 2020</div>
            <div class="text">hello Charles I am good here. Enjoy your life.</div>
            <button class="btn btn-primary btn-sm mt-2">go</button>
        </div>
    </div>
</div>

<div class="m-2">
    <div class="card m-2 " style="width: 500px">
        <div class="row">
            <div class="col-md-4">
                <%=image_pack_tag "main_image1.jpg", class: "img-fluid" %>
            </div>
            <div class="col-md-8">
                <div class="body">
                    <div class="title h3 mt-2">yushin</div>
                    <div class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus voluptas, iure id aspernatur velit est at quaerat ex facilis incidunt doloremque voluptatum itaque, ad eos iusto aliquid iste vel libero.</div>
                    <button class="btn btn-small btn-primary m-2">gogo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row p-5">
<div class="text-center m-3 h3">
    <p>Have your desk any city!</p>
</div>
<div class="row">
    <% @rooms.each do |room|%>
        <div class=" card shadow">
            <div class="card-header">
                <% if room.images.attached? %>
                    <%= image_tag room.images[0], class: "image-small"%>
                <% end %>
            </div>
            <div class="card-body">
                <%= room.listing_name %>
                <%= room.address %>
            </div>
        </div>
    <% end %> 
</div>
<%# <h1 class="display-4 font-weight-normal">Punny headline</h1>
<p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
<a class="btn btn-outline-secondary" href="#">Coming soon</a> %>
</div>


<div class="container-fluid pb-5">
    <%= form_with url: search_path, method: :get do %>
        <div class="row">
            <div class="col-md-6">
                <%= text_field_tag :search, params[:search], placeholder: "where are you going?", class: "form-control"%>
            </div>
            <div class="col-md-2">
                <%= text_field_tag :start_date, params[:start_date], placeholder: "start date", class:"form-control"%>
            </div>
            <div class="col-md-2">
                <%= text_field_tag :end_date, params[:end_date], placeholder: "end date", class:"form-control"%>
            </div>
            <div class="col-md-2">
                <%= submit_tag :search, class:"btn btn-primary" %>
            </div>
        </div>
    <% end %>
</div>


<div class="text-center">
    <h2>Just for the weekend</h2>
    <p>Discover New Places</p>
</div>
<br>
<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="discovery-card" style="background-image: url('')">
            <div class="va-container">
                <div class="va-middle text-center">
                    <h2><strong>New York</strong></h2>
                </div>
            </div>
        </div>
    </div>
         <div class="col-md-4 col-sm-12">
        <div class="discovery-card" style="background-image: url('')">
            <div class="va-container">
                <div class="va-middle text-center">
                    <h2><strong>London</strong></h2>
                </div>
            </div>
        </div>
    </div>
          <div class="col-md-4 col-sm-12">
        <div class="discovery-card" style="background-image: url('')">
            <div class="va-container">
                <div class="va-middle text-center">
                    <h2><strong>Berlin</strong></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <% @rooms.each do |room| %>
            
            <%= link_to room_path(room.id) do %>
                <%= image_tag room.images[0] if room.images.attached? %>
                <%= room.listing_name %> 
            <% end %>
        <% end %>
        
    </div>
</div>
<i class="fal fa-cat-space"></i>

<% if !user_signed_in? %>
  <footer>
        <div class="container">
          <div class="jumbotron", height: "5000px">
            <ul>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>

            </ul>
          </div>
        </div>
      </footer>
<% end %>
      
<script>
    $(function() {
        $('#start_date').datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: 0,
            maxDate: '3m',
            onSelect: function(selected) {
                $('#end_date').datepicker("option", "minDate", selected);
                $('#end_date').attr('disabled', false);
            }
        })
  
        $('end_date').datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: 0,
            maxDate: '3m',
            onSelect: function(selected) {
                $('#end_date').datepicker("option", "maxDate", selected);
         
            }
        })

    });
</script>