
<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item"><%= link_to "Your Listing", rooms_path, class: "list-group-link"%></li>
            <li class="list-group-item"><%= link_to "Yourlisting Reservations", yourlisting_reservations_path, class: "list-group-link active"%></li>
            <li class="list-group-item"><%= link_to "Your Trips", your_trips_path, class: "list-group-link"%></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="card card-body">
            <div class="card-header">
                Your Listing Reservations
            </div>
            <div class="card-body">
                <% @rooms.each do |room| %>
                    <% room.reservations.each do |reservation| %>
                        <div class="row">
                            <div class="col-md-2">
                                <%= reservation.start_date.strftime('%v')%>
                            </div>
                            <div class="col-md-6">
                                <%= link_to room_path(reservation.room) do %>
                                    <%= image_tag reservation.room.images[0] %>
                                <% end %>
                            </div>
                            <div class="col-md-2">
                                <%= link_to user_path(reservation.user) do %>
                                    <%= image_tag reservation.user.default_avatar, class: "img-circle avatar-large"%>
                                <% end %>
                            </div>
                            <div class="col-md-2 right">
                                <h4>$<%= reservation.total %></h4>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div> 
    </div>
</div>