<div class="pannel panel-default">
    <div class="panel-heading">
        Create your beautiful place
    </div>
    <div class="panel-body">
        <div class="container">
            <%= form_with model: @room do |f| %>
                <div class="row">
                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Home Type</label>
                            <%= f.select :home_type, [["Apartment", "Apartment"], ["House", "House"], ["Bed & Breakfast", "Bed & Breakfast" ]], id: :home_type, prompt: 'Select...', class: "form-control" %>
                        </div>
                    </div>
                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Room Type</label>
                            <%= f.select :room_type, [["Whole House", "Whole House"], ["Private Room", "Private Room"], ["Shared Room", "Shared Room" ]], id: :room_type, prompt: 'Select...', class: "form-control" %>
                        </div>
                    </div>
                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Accommodate</label>
                            <%= f.select :accomodate, [["1", 1], ["2", 2], ["3", 3 ], ["4+", 4]], id: :accomodate, prompt: 'Select...', class: "form-control" %>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Bedrooms</label>
                            <%= f.select :bed_room, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], prompt: 'Select...', class: "form-control" %>
                        </div>
                    </div>
                      <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Bedrooms</label>
                            <%= f.select :bed_room, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], prompt: 'Select...', class: "form-control" %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>Listing Name</label>
                        <%= f.text_field :listing_name, placeholder: "Name your house", class: "form-control"%>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>Summary</label>
                        <%= f.text_area :summary, placeholder: "Tell about your house", class: "form-control"%>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>Addrress</label>
                        <%= f.text_area :address, placeholder: "address", class: "form-control"%>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <%= f.check_box :is_wifi %> Wifi Internet
                        </div>
                          <div class="form-group">
                            <%= f.check_box :is_kitchen %> Kitchen
                        </div>
                          <div class="form-group">
                            <%= f.check_box :is_cable %> Cable TV
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <%= f.check_box :is_heating %> Heating
                        </div>
                          <div class="form-group">
                            <%= f.check_box :is_air %> Air-Conditioning
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                           <Label>Price(per 1 night)</Label> 
                           <div class="input-group">
                            <div class="input-group-addon">$</div>
                                <%= f.text_field :price, placeholder: "eg. $20", class: "form-control" %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <%= f.check_box :active %> Active
                    </div>
                </div>

                <div class="actions">
                    <%= f.submit "Save", class: "btn btn-primary"%>
                </div>
            <% end %>
        </div>
    </div>
</div>